<ul class="nav nav-sidebar">
    <% @menus.each do |menu| %>
    <li
            <% if select_menu !=nil && menu["url"]==select_menu %>
              <%=  "class=\"active\"".html_safe  %>
            <% end %>
    >
        <a 
        <% if menu["url"]!='' && menu["url"]!=nil %> 
        href="<%= menu["url"]%>" <%end%>
        >
        <%= menu["icon"].html_safe%>&nbsp;&nbsp;<%= menu["name"] %>
        </a>
        
    </li>
    <% end %>
    
    
    <%# <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li> %>
</ul>