<%@title="管理后台新建用户"%>
<%= render "admin/share/header" %>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <%= render "admin/share/sidebar", select_menu: "/admin/users"  %>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <ul class="breadcrumb">
          <li><a href="/admin/main">首页</a></li>
          <li><a href="/admin/users" class="active">用户管理</a></li>
          <%# <li><a class="active">用户新增</a></li> %>
      </ul>
      <h4 class="sub-header">新建用户</h4>
      
      <%= render 'form', admin_user: @admin_user %>
      <%= link_to raw("<i class=\"fa fa-arrow-circle-left\" aria-hidden=\"true\">&nbsp;返回</i>"), admin_users_path ,{ class:'btn btn-primary'}%>
    </div>  
  </div>
</div>

